/exercise1/framework/cmake-build-debug/
/exercise1/framework/syntactic_sugar/cmake-build-debug/
/exercise1/framework/palindrome-checker/cmake-build-debug/
/exercise1/framework/montecarlopi/cmake-build-debug/
/cmake-build-debug/
